<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitbeat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Loadingscreen" />
        <activity android:name=".Caloriecount" />
        <activity android:name=".Exercise1" />
        <activity android:name=".Junkfood" />
        <activity android:name=".Eating1" />
        <activity android:name=".Weight1" />
        <activity android:name=".Height1" />
        <activity android:name=".Signup" />
        <activity android:name=".Male_female" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>